name = "starter"
main = "src/worker.ts"
compatibility_date = "2023-08-07"
compatibility_flags = ["nodejs_compat"]
logpush = true
keep_vars = true

[[d1_databases]]
binding = "DB"
database_name = "starter"
database_id = "060717cc-02c9-48de-8033-ee5d33027eb0"
preview_database_id = "DB"

[env.staging]
workers_dev = true

# Bind a Queue producer. Use this binding to schedule an arbitrary task that may be processed later by a Queue consumer.
# Docs: https://developers.cloudflare.com/queues/get-started
# [[env.staging.queues.producers]]
# binding = "QUEUE"
# queue = <STAGING_QUEUE_NAME>

# Bind a Queue consumer. Queue Consumers can retrieve tasks scheduled by Producers to act on them.
# Docs: https://developers.cloudflare.com/queues/get-started
# [[env.staging.queues.consumers]]
# queue = <STAGING_QUEUE_NAME>

[env.staging.triggers]
crons = ["0 * * * *"]

[env.production]

# [[queues.producers]]
# binding = "QUEUE"
# queue = <PROD_QUEUE_NAME>

# [[queues.consumers]]
# queue = <PROD_QUEUE_NAME>

[env.production.triggers]
crons = ["0 * * * *"]

# Bind a KV Namespace. Use KV as persistent storage for small key-value pairs.
# Docs: https://developers.cloudflare.com/workers/runtime-apis/kv
# [[kv_namespaces]]
# binding = "MY_KV_NAMESPACE"
# id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Bind an R2 Bucket. Use R2 to store arbitrarily large blobs of data, such as files.
# Docs: https://developers.cloudflare.com/r2/api/workers/workers-api-usage/
# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# Bind another Worker service. Use this binding to call another Worker without network overhead.
# Docs: https://developers.cloudflare.com/workers/platform/services
# [[services]]
# binding = "MY_SERVICE"
# service = "/api/*"

# Bind a Durable Object. Durable objects are a scale-to-zero compute primitive based on the actor model.
# Durable Objects can live for as long as needed. Use these when you need a long-running "server", such as in realtime apps.
# Docs: https://developers.cloudflare.com/workers/runtime-apis/durable-objects
# [[durable_objects.bindings]]
# name = "MY_DURABLE_OBJECT"
# class_name = "MyDurableObject"

# Durable Object migrations.
# Docs: https://developers.cloudflare.com/workers/learning/using-durable-objects#configure-durable-object-classes-with-migrations
# [[migrations]]
# tag = "v1"
# new_classes = ["MyDurableObject"]
